footer.footer
    .container.flex
        .footer_contacts
            p барбершоп "бородинский"<br>адрес: г.санкт-петербург, ул.б.конюшенная, д.19/8
            a.line(href="#") как нас найти?
            p телефон: +7 (495) 666-02-66
        .footer_social.column
            p.footer_text давайте дружить!
            .footer_item
                a.footer_icon.vcontakte(href="#")
                a.footer_icon.facebook(href="#")
                a.footer_icon.instagram(href="#")
        .footer_creator.column
            p.footer_text разработано:
            .footer_item
                a.button.long(href="#") hmlacademy.ru