header.header
    .container.flex
        ul.navbar.flex
            li.navbar__item.flex
                a.navbar__logo(href="#")
            li.navbar__item.flex
                a.navbar__link(href="#") информация
            li.navbar__item.flex
                a.navbar__link(href="#") новости
            li.navbar__item.flex
                a.navbar__link(href="#") прайс-лист
            li.navbar__item.flex
                a.navbar__link(href="#") магазин
            li.navbar__item.flex
                a.navbar__link(href="#") контакты
        a.entry.flex(href="#")
            .entry_icon
            spant.entry_text вход
