ul.navbar.flex
    li.navbar-item.flex
        a.navbar-link(href="#") информация
    li.navbar-item.flex
        a.navbar-link(href="#") новости
    li.navbar-item.flex
        a.navbar-link(href="#") прайс-лист
    li.navbar-item.flex
        a.navbar-link(href="#") магазин
    li.navbar-item.flex
        a.navbar-link(href="#") контакты
a.button_navbar.flex(href="#")
    .button_navbar-icon
    spant.button_navbar-text вход