$color1: #000;
$color2: #663d15;
$color3: #fff;

@import "partials/custom.scss";
@import "partials/fonface.scss";
@import "partials/section.scss";
@import "partials/menu.scss";
@import "partials/button";
@import "partials/header";
@import "partials/content";
@import "partials/footer";