.button {
  display: inline-block;
  width: 140px;
  height: 44px;
  background-color: $color1;
  color: #ffffff;
  border: 0;
  font: inherit;
  &-long {
    margin-top: 7px;
    width: 300px;
  }
  &:hover,
  &:focus {
    background-color: $color2;
  }
}

.button_navbar {
  height: 100%;
  padding: 0 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  &-icon {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-right: 15px;
    background: url("../image/sprite.png") -103px 349px;
  }
  &:hover,
  &:focus {
    background-color: #242424;
    .button_navbar-icon {
      background: url("../image/sprite.png") -145px 353px;
    }
  }
}