.main_content {
  width: 1000px;
  padding: 0 30px;
  margin: auto;
}
.content {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  background-color: #f9f6f3;
  color: #000000;
  &:last-child {
    margin-bottom: 65px;
  }
  &:before {
    position: absolute;
    content: '';
    top: 80px;
    left: 48%;
    width: 8px;
    height: 278px;
    background: url("../image/middle.jpg");
  }
  &_item {
    width: 50%;
    padding: 55px 0 50px 80px;
  }
  &_text {
    width: 348px;
    margin-top: 30px;
    margin-bottom: 5px;
    & + span {
      text-transform: none;
    }
  }
  &_link {
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
  }
  &_button {
    width: 300px;
  }
  &_slider {
    width: 300px;
    height: 178px;
    margin-top: 40px;
    margin-bottom: 50px;
    border: 7px solid #ffffff;
    box-sizing: border-box;
    background-image: url("../image/slider.png");
    background-repeat: no-repeat;
  }
  &_box {
    padding: 0;
    width: 300px;
  }
  &_input {
    width: 140px;
    height: 43px;
    margin-bottom: 20px;
    padding-left: 17px;
    color: #000000;
    font-family: "PT Sans - Narrow Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid #000101;
    background-color: #f9f6f3;
    &:hover,
    &:focus {
      border: 2px  solid #663d15;
    }
  }
}

.content_registration .content_text {
  margin-bottom: 28px;
}

.inner {
  &-content {
    color: #000000;
  }
  &_menu {
    justify-content: left;
    &-caption {
      padding-top: 55px;
      padding-bottom: 20px;
      font-size: 30px;
      line-height: 42px;
      font-weight: 400;
    }
    &-item {
      margin-right: 40px;
    }
    &_block {
      width: 12px;
      height: 12px;
      margin-left: 20px;
      background-image: url("../image/shape.png");
      background-repeat: no-repeat;
    }
  }
}