.logo {
  width: 368px;
  height: 204px;
  margin: auto;
  margin-top: 60px;
  background-image: url("../image/big-logo.png");
}

.worth {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  &_img {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background: url("../image/rhombus.png") no-repeat;
  }
  &_item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_text {
    text-align: center;
  }
}

.content {
  position: relative;
  display: flex;
  margin-bottom: 35px;
  background-color: #f9f6f3;
  color: #000000;
  &:before {
    position: absolute;
    content: '';
    top: 80px;
    left: 48%;
    width: 8px;
    height: 278px;
    background: url("../image/middle.jpg");
  }
  &_item {
    width: 50%;
    padding: 55px 0 50px 80px;
  }
  &_text {
    width: 348px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  &_link {
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
  }
  &_button {
    width: 300px;
  }
  &_slider {
    width: 300px;
    height: 178px;
    margin-top: 30px;
    margin-bottom: 38px;
    padding: 7px;
    background: url("../image/slider.png") no-repeat;
  }
  &_box {
    padding: 0;
    width: 300px;
  }
  &_input {
    width: 140px;
    height: 43px;
    margin-bottom: 20px;
    padding-left: 17px;
    color: #000000;
    font-family: "PT Sans - Narrow Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid #000101;
    background-color: #f9f6f3;
    &:hover,
    &:focus {
      box-shadow: 0 0 10px 5px #555;
    }
  }
}

.content_registration .content_text {
  margin-bottom: 28px;
}