.footer {
  width: 100%;
  background: url("../image/footer.png");
  padding-top: 62px;
  padding-bottom: 43px;
  &_text {
    margin-bottom: 20px;
  }
  &_item {
    display: flex;
    & a {
      background-color: $color1;
    }
  }
  &_icon {
    width: 43px;
    height: 43px;
    margin-right: 6px;
    background-color: #000;
    &:hover,
    &:focus {
      background-color: $color3;
    }
  }
}
.line {
  color: #ffffff;
  text-decoration: underline;
}
.long {
  width: 140px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  padding-top: 8px;
  &:hover,
  &:focus {
    background-color: $color3;
    color: #000000;
  }
}
.vcontakte {
  background-image: url("../image/sprite.png");
  background-position: 0 293px;
  &:hover,
  &:focus {
    background-position: -41px 293px;
  }
}
.facebook {
  background-image: url("../image/sprite.png");
  background-position: 0 361px;
  &:hover,
  &:focus {
    background-position: -33px 362px;
  }
}
.instagram {
  background-image: url("../image/sprite.png");
  background-position: 0 324px;
  &:hover,
  &:focus {
    background-position: -37px 326px;
  }
}