.header {
  &_features {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 295px;
    margin-bottom: 80px;
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 368px;
      height: 204px;
      background-image: url("../image/sprite.png");
      top: -250px;
      left: calc(50% - 368px/2);
    }
    &-item {
      width: 270px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &-caption {
      position: relative;
      margin-bottom: 76px;
      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 30px;
        height: 29px;
        background-image: url("../image/rhombus.png");
        background-repeat: no-repeat;
        top: 60px;
        left: 120px;
      }
    }
  }
}