.wrapper {
  display: flex;
  flex-direction: column;
  //background-image: url("../image/fon.png");
  //background-repeat: no-repeat;
  //background-color: #000;
  //background-position: 50% 0;
  //background-size: cover;
  //box-sizing: border-box;
}

.page {
  flex: 1 0 auto;
  background-image: url("../image/fon.png");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: 50% 0;
  //background-size: cover;
}

nav {
  height: 72px;
  background-color: #000000;
}

html, body, .wrapper {
  height: 100%;
}