doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/main.css")
        title Barbershop
    body
        .wrapper
            .page
                header.header
                    nav.navbar-menucontent
                        .container.flex
                            include template/navbar
                    ul.header_features.container
                        li.header_features-item
                            h3.header_features-caption быстро
                            p.header_features-text мы делаем свою работу быстро! два часа пролетят незаметно и вы - счастливый обладатель стильной стрижки-минутки!
                        li.header_features-item
                            h3.header_features-caption кру то
                            p.header_features-text забудьте, как вы стриглись раньше. мы сделаем из вас звезду футбола или кино! во всяком случае внешне.
                        li.header_features-item
                            h3.header_features-caption дорого
                            p.header_features-text наши мастера - профессионалы своего дела и не могут стоить дешево. к тому же, разве цена не дает определенный статус?
                block content
                    include template/main-content


            include template/footer