extends template/layout-inner
block body
    .wrapper
        .page
            include template/layout-header
        block footer



    //section.inner-content.container
    //    h2.inner_menu-caption прайс-лист
    //    ul.inner_menu.flex
    //        li.inner_menu-item.flex
    //            a.inner_menu-link главная
    //            .inner_menu-block
    //        li.inner_menu-item
    //            a.inner_menu-link прайс-лист






